
*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --cor-fundo:linear-gradient( to bottom, #0D131A ,#0E1828 , #172642 ,#24324b);
    --cor-azul:#17243D;
    --cor-texto: #D0E1FA;
    --cor-rosa:#EC105E;
    --cor-verde:#9FB728;
    --cor-java:#5040AD;
    --cor-branca: #fff;
    --cor-borda:#00E6FF;
    --cor-transparente:#ffffff00;
}

body{
    width: 100%;
    background: var(--cor-fundo);    
}

#header-principal{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
}
#header-principal nav{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;    
    align-items: center;
}
.nav-logo img{
    width: 10rem;
}
ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;   
}
ul li a{
    color: var(--cor-texto);
    font-size: 30px;
    position: relative;
    transition: 0.8s ;
}

ul li a:after{
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    background:var(--cor-borda);    
    width: 0;
    transition: 0.5s ease-in-out;
}
ul li a:hover{
    color: var(--cor-borda);   
}
ul li a:hover:after{
    width: 100%;
    box-shadow: rgb(18 119 151) 0px 0.625rem 2.6875rem;
}

.fa-github{
    font-size: 45px;
}
main{
    padding-top: 73px;
}
#header-portifolio{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.img-perfil img{
    width: 450px;
}
.sobre-perfil{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.p-inicial{
    font-size: 50px;
    color: var(--cor-texto);
}
.nome-portifolio{
    font-size: 80px;
    color: var(--cor-texto);
}
.p-inicial-1{
    font-size: 35px;
    color: var(--cor-texto);
}
.svg-div img{
    width: 100%;
    padding-top: 50px;
}
#sobre-portifolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.sobre-min h1{
    font-size: 80px;
    color: var(--cor-texto);
    padding-bottom: 20px;
}
.sobre-min p{
    font-size: 18px;
    color: var(--cor-texto);
    padding-left: 15px;    
}
.sobre-min p span{
    display: block;
    padding-top: 15px;
}
.skils-portifolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 375px;
    border: 2px solid var(--cor-borda) ;
    border-radius: 10px;
    padding: 5px;
    margin-top: 50px;
}

.skils-portifolio div{
    width: 150px;
    border: 2px solid var(--cor-borda);
    border-radius: 5px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.6s;

}
.skils-portifolio div button{
    cursor: pointer;
    border: 0px solid var(--cor-transparente);
    background-color: var(--cor-transparente);
   
}
.skils-portifolio div button p{
    padding: 35px;
    color: var(--cor-texto);
    font-size: 15px;
    font-weight: 900;
}
.skils-portifolio div:hover{
    transition: 0s;
    background-color: #00E6FF;
    box-shadow: rgb(18 119 151) 0px 0.625rem 2.6875rem;
}
#lvl-skils{
    width: 100%;
    background: var(--cor-azul);
    margin-top: 30px;
    padding: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;  
}
#lvl-skils h1{
    font-size: 50px;
    color: var(--cor-texto);
}
.skil_lvl{
    padding: 30px;
    width: 70%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}

.skil_1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.skil_1 p{
    color: var(--cor-texto);
    font-weight: 900;
    padding: 10px;
    padding-top: 30px;
    font-size: 25px;
}
div .barra-1, .barra-2 {
    width: 350px;
    height: 20px;
    border-radius: 25px;
}
.barra-1{
    background: var(--cor-branca);
}
.barra-2{
    background: var(--cor-rosa);
}
section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
    gap: 30px;
}
.projects{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
}
.projects h1{
    font-size: 60px;
    color: var(--cor-texto);
}
.projects a{
    width: 150px;
    height: 50px;
}
.projects button{
    background: var(--cor-texto);
    color: var(--cor-azul);
    font-size: 20px;
    font-weight: 900;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 0px;
    transition: all 0.3s;

}
.projects button:hover{
    background-color: #00E6FF;
    box-shadow: rgb(18 119 151) 0px 0.625rem 2.6875rem;
}

.projects p{
    font-size: 20px;
    color: var(--cor-texto);
}
section .slide-projects{
    width: 600px;
    height: 375px;
    border-radius: 5px;
    border: 2px solid var(--cor-borda);
}
footer{
    height: 500px;
}



/* Estilos para telas menores que 1080 pixels */

@media (max-width: 1080px) {

    @import url("stylemobile.css");

  }